img {
    max-width: 100%;
    display: block;
    max-height: 700px;
    height: auto;
    margin: 20px auto;
    padding: 15px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
  }
  
  h1 {
    text-align: center;
    padding: 15px;
  }
  
  #img-caption {
    text-align: center;
    padding: 15px;
  }
  
  #tribute-info {
    text-align: center;
  }
  
  ul {
    max-width: 550px;
    margin: 0 400px 20px auto;
    text-align: center;
    line-height: 1.6;
  }
  
  li {
    margin: 20px 0;
    list-style: none;
  }
  
  h3 {
    text-align: center;
    padding: 15px;
  }
  
  main{
    background-color: #ED1D24;
    color: white;
  }
  
  #tribute-link{
    color: white;
  }